#qna{
    display:none;

}

.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius:20px;
    font-size: 24px;
    width: 80%;
}

.answerList{
    background-color: whitesmoke;
    border-radius: 20px;
    display:block;
    width: 80%;
    border: 0px;
    font-size: 20px;
}

.answerList:hover, .answerList:focus{
    background-color: rgb(251, 176, 176);
    color: whitesmoke;
}

.status{
    height:20px;
    width: 80%;
    background-color: white;
    border-radius:20px;
}

.statusBar{
    height: 100%;
    border-radius: 20px;
    /*colorzilla*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6fc69e+0,7130cc+100 */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+50,ff5c5c+100 */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#fce8e8+0,ff9696+57,fe9090+57,ff9696+57,ff9696+100 */
    background: rgb(252,232,232); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(252,232,232,1) 0%, rgba(255,150,150,1) 57%, rgba(254,144,144,1) 57%, rgba(255,150,150,1) 57%, rgba(255,150,150,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(252,232,232,1) 0%,rgba(255,150,150,1) 57%,rgba(254,144,144,1) 57%,rgba(255,150,150,1) 57%,rgba(255,150,150,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(252,232,232,1) 0%,rgba(255,150,150,1) 57%,rgba(254,144,144,1) 57%,rgba(255,150,150,1) 57%,rgba(255,150,150,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce8e8', endColorstr='#ff9696',GradientType=1 ); /* IE6-9 */


}